[2020-05-02 21:55] RUrlus opened #12 "DOC: Memory settings section not rendered properly in docs"
See https://carma.readthedocs.io/en/latest/memory_management.html#memory-settings

[2020-05-03 09:27] #12 closed

[2020-05-05 20:51] beckerrh opened #14 "type"
Hello,

Having tried your nice project, I think there is a type in carma.h on line 320.
I guess it should read  "T" instead of "double".

Thanks a lot for sharing your project, I had tried to do this on my own, but my knowledge on C++ is too limited.

Best regards,
Roland

[2020-05-22 09:25] #14 closed

[2020-05-22 09:27] RUrlus commented on #14
Hi Roland,

Sorry for the slow response. Thanks for filing the issue and good spot.
Happy to hear you like it.

Regards,

Ralph

[2020-05-22 15:57] avilchess opened #18 "Returning Armadillo cubes as numpy with c-ordering."
Hi Ralph,

I was just wondering for the possibility to return numpy arrays, with a c-ordering, as the result of computations performed with armadillo cubes.

I have been looking at the following function:

[code]

And I have changed the lines between asterisks, but it is still getting errors in the output. Can you imagine what I'm missing here?

Thanks in advance.
Antonio Vilches.

[2020-05-22 17:22] RUrlus commented on #18
Hi Antonio,

Setting the strides in C-style when creating the array does not change the memory ordering.
You are only informing Numpy what the strides of the buffer are. Changing the memory layout will require a copy.

The cube is copied out default anyway, stealing the memory of cube is quite involved. So it should be possible to get it in the right order without an additional copy.

[code]

Does

[2020-05-24 19:36] avilchess commented on #18
Hi Ralph,
Thanks for the quick response. Finally, I got this use-case working with the following function implementation:
[code]
Thanks again for your help and be proud of the repository,

[2020-05-24 19:36] avilchess commented on #18
I will close the issue as it's not a proper one.

[2020-05-24 19:37] #18 closed

[2020-05-24 19:52] RUrlus commented on #18
Interesting that the strides were needed, I was under the impression that the c_style was ignored when a stride was specified.

Happy you got it working and thanks!

[2020-05-27 12:09] beckerrh opened #19 "freeing memory with copy=false"
Hi Ralph,

I have a problem when using "col_to_arr" with copy=false, when simply passing an array back and forth  between python and C++.
There is py::capsule created which wants to free memory it didn't allocate, resulting into
"
Python(9014,0x111c5edc0) malloc: *** error for object 0x1e4b6e000: pointer being freed was not allocated
"
If I uncomment the delete[] in the base-code, the code goes th

[2020-05-27 12:25] RUrlus commented on #19
Hi Roland,

The delete is needed to release the memory from python, regardless of copy. Without it there is a memory leak.

What is sounds like is that you try to do:
np.array (A) --> arma::Col --> np.array (B) without copying in or out?

If this is the case you are returning a reference to a buffer that is owned by array A which is a problem regardless of the arma object used in between. You shou

[2020-05-27 15:29] beckerrh commented on #19
Hi Ralph,

Thanks a lot for your lightning fast answer.

My simple reasoning was that we do a delete on a pointer, for which we didn’t allocate memory ourselves in case of copy=true...

Yes, exactly. Since NumPy and arma both can handle external memory, I was thinking, that would be possible (I understand that gets very complicated in case the memory is not aligned, but this is not the case in my

[2020-05-27 19:52] RUrlus commented on #19
Yes we didn't allocate memory but we are stealing it from armadillo. We tell armadillo it's no longer owner of the memory and take the pointer. This way armadillo won't release the memory and we can control it.

It's possible to do if you set owndata flag to false, but it's a bad idea. Now array A still owns the data and is unaware of the reference to its memory by B. So when A is garbage collecte

[2020-05-28 07:59] beckerrh commented on #19
Hi Ralph,

Yes, I understand. But for some reason, it does not work the expected way for me.
I have made a small example showing my problem with a class just containing a arma::Mat<double> and set/get functions.
It works in the standard Cmake way (the py-file is copied), just
mkdir build; cd build; cmake ../carmatest; make; python3 carmatest.py

Thanks a lot,
Roland

[2020-05-28 08:03] RUrlus commented on #19
Where can I find this example?

[2020-05-28 12:09] beckerrh commented on #19
Sorry, it was attached to my mail, but I didn't use GitHub, so it didn't appear. Here it is.
[carmatest.zip](https://github.com/RUrlus/carma/files/4695385/carmatest.zip)

[2020-05-28 12:45] RUrlus commented on #19
No worries. To understand your use case:
You have a CPP class that you want to make accessible from python.

1. Set the data from python np array
2. Do something with the data in C++ using armadillo
3. Make the mutated data available in python as np array whilst keeping ownership of the data in CPP

Is this correct?

If so this use case is not directly supported at the moment but should be possibl

[2020-06-06 20:59] RUrlus commented on #19
@beckerrh Did the above work for you?
I've added two functions for setting the flags, see 230f769c9b99337d50b8960cd93634e3eeef136d

[2020-06-08 08:12] RUrlus commented on #19
Strange regarding regarding the flags.
I started building a class for your use-case that is intended to be inherited from, see 2f0661f5d6ad3c770cf07db04e6d0fe1230873fa, and the flags seem to be working correctly in this example.

[2020-06-08 14:41] beckerrh commented on #19
No, I think flags are ok. The owndata -flag is false in both cases, either I set it or not (I guess because we have copy-false), whereas the value of the writable depends on whether I set it or not.
I guess the problem is that python still wants to delete the memory, even if the owndata-flag is wrong.

Also, I tried your class and run into the same problem.

[2020-06-28 20:33] RUrlus commented on #19
Hi @beckerrh,

You were right, in the previous commit both the capsule and the matrix itself were trying to free the memory upon destruction when the memory was copied in.

The implementation is now done and merged into master, see bb9dac4f9f3e1879c3b01c5d1187d432bae80233
See the tests for an example of usage.

I'll close the issue, but feel free to reopen when you think it is not resolved.

Regar

[2020-06-28 20:33] #19 closed

[2020-06-29 12:30] hpwxf opened #24 "Pybind11 and Armadillo headers as a submodule instead of being embedded"
Shipping Pybind11 and Armadillo is convenient but increase a lot the size of the repository.
Moreover, since this project is "header only", it could be convenient to embed in other project.

What do you think about using submodule ? (If necessary, I can do it)

[2020-06-29 12:35] hpwxf opened #25 "Using ctest for launching tests"
It could be convenient to run tests using `ctest`.
To do that, it requires to keep generated library in *build* directory (and not to copy them into `tests` directory).
By that way, it would be possible to have *in parallel* several build directories for several configurations (e.g. Debug, StaticAnalysis, Release...)

Again, if it could be a good idea, I can do it.

[2020-06-29 12:43] hpwxf opened #26 "Static Analysis : use after move"
FYI, using clang static analysis, I found the following possible bug:

(sorry for this dirty image export)

---
<img width="1063" alt="" src="https://user-images.githubusercontent.com/26146722/86006394-2d489600-ba16-11ea-8090-2ca5b0dc9ffd.png">

[2020-06-29 17:39] RUrlus commented on #24
I chose shipping the libs to make the package easily pip installable but happy to move to submodules as they are only used for testing anyway. I am quite busy at the moment so if it's urgent feel free to change, otherwise I'll pick it up later.

[2020-06-29 17:46] RUrlus commented on #26
You're right, that's a sloppy bug. Closed by 7451f77e952e728c2451aefd15c045ef3edab2d9

[2020-06-29 17:46] #26 closed

[2020-06-29 17:51] RUrlus commented on #25
Not against it in principle. How does travis handle multiple parallel builds in a single node?
This would involve changing the travis config which is a bit of a mess.
Again, feel free to pick this up, otherwise I'll have a look but that might take a few weeks.

[2020-06-29 18:16] hpwxf commented on #25
When I said "parallel build...", it was about "several build directories" with a given configuration for each. This happens in the development process when one wants to compile/test Release and Debug configurations (and in that case, if there are generated files out of build directory they could conflict).

Using "parallel build" in the sense of "compiling several units in parallel", is possible e

[2020-06-29 18:17] hpwxf commented on #24
I will do it tomorrow.

[2020-06-29 20:36] RUrlus commented on #25
For some reason I had a third option in mind where all configs were build in the same travis job in parallel.
Anyway sounds good, happy to learn on how to do it better.

[2020-06-30 20:13] hpwxf opened #28 "MacOS and Windows support"
I'm working to add support for macOS and Windows (code + CI).

By the way, I suggest reorganizing `.travis-ci.yml` to externalize large part of scripts (with YAML restriction) as external scripts in a `.travis-ci` directory. My idea is to have the workflow in `.travis-ci.yml` with implementation detail in the scripts.
By that way, it is easier to verify locally is the scripts are ok (one can run t

[2020-06-30 21:25] RUrlus commented on #28
It would be great to get CI coverage for both. Regarding code support, I develop on MacOS, I have not run into any issues with Mojave or Catalina. Windows I have not checked although both pybind11 and armadillo support it.

external travis build scripts sounds great, it's quite a mess in the current state

[2020-06-30 21:39] RUrlus commented on #24
Closed by 369342e90b75b9a703a183c6f328a549d5beec27

[2020-06-30 21:39] #24 closed

[2020-06-30 22:09] #25 closed

[2020-07-01 09:05] hpwxf opened #30 "Update doc to reflect new submodule structure"
README.md is no more up-to-date since armadillo and pybind11 are now in `third_party` submodules ( cf #24).

[2020-07-01 09:06] hpwxf commented on #30
I'll do it in the same time I will explain how to use any armadillo or pybind11 for building carma.

[2020-07-01 10:45] hpwxf opened #31 "Add coverage report"
Usually, I use https://coveralls.io (coupled with `lcov`).
It is easy to do from Travis.

To do that, I have to add new `BUILD_MODE`. In that case, I will change `DEBUG` config variable with a `BUILD_MODE` config variable to support values: `Debug`, `Release`, `Coverage`.

[2020-07-01 11:26] RUrlus commented on #31
This has been on my todo list for a while. This would require C++ test framework for it to work?

[2020-07-01 11:32] RUrlus commented on #31
Fine with coveralls.io, I just linked the repo. Let me know if you need the token.

[2020-07-02 19:49] hpwxf opened #33 "Windows bug"
To reproduce it:
* enable Windows support in `.travis-ci.yml` and run CI test

When `test_mat_to_arr.py` is reduced to
[code]

It is still failing. But if we remove first sub-test **or** second sub-test, it is OK.
NB: when it fails, there is no output even for the first `print`s.

* By removing all other test, we get:
[code]

or by hand:
[code]

PS:
* `test_arr_to_mat.py` is OK.
* `test_arraystore

[2020-07-02 19:54] RUrlus commented on #28
In summary CICD support present but disabled for now due to #33

[2020-07-02 20:02] hpwxf commented on #28
Good summary 😉

[2020-07-02 20:10] RUrlus commented on #33
It sounds like this due to reusing the `sample` var name which will trigger destruction of the memory. If this is true a single test like below should trigger the same behaviour.

[code]

[2020-07-02 20:23] RUrlus commented on #33
But the above wouldn't explain why the first print statement isn't reached or why `test_nparray.py` has the same issue. Those tests only read or switch some flags...

[2020-07-03 07:42] hpwxf commented on #33
`Exit code 0xc0000374` seems to be a memory corruption (e.g. https://forums.iis.net/t/1150912.aspx?0xc0000374).

If this corruption occurs in the Python interpreter, it is possible that it crashes before to able to print previously computer results or outputs (buffered outputs are not yet flushed).

Since the problem occurs, only this two successive tests (in any order; and ok with only one), it c

[2020-07-03 07:48] hpwxf commented on #33
Next thing to do could be to try with `valgrind` on a *NIX system.

I plan also to add a mode with memory sanitizer options.

[2020-07-06 16:48] hpwxf commented on #33
Your example has also failed (cf https://travis-ci.com/github/hpwxf/carma/jobs/358021677).

I'm going to try to check what happens on Linux with valgrind (using https://pypi.org/project/pytest-valgrind/)

[2020-07-06 16:50] hpwxf commented on #33
An error seems to occur here:
[code]

[2020-07-06 17:02] hpwxf commented on #33
If I remove the `delete` at utils.h:97, there is no more segfault in Windows (https://travis-ci.com/github/hpwxf/carma/jobs/358032696) but there is of course a memory leak (this was just to confirm the location of the error).

[2020-07-06 17:37] hpwxf opened #34 "Add formatting guide (aka clang-format config)"
To ensure a uniform code style, I suggest adding a `.clang-format` config file.

I can try to provide a config close to the current coding style.

[2020-07-07 11:41] RUrlus commented on #33
I think the bug might be in get_data.

[code]
If you don't copy in but do copy out we have:

- input_array correctly assumes it owns the data and will correctly free the memory when destructed
- armadillo matrix incorrectly assumes it owns the data and will clear it
- output_array will correctly free the memory when destructed

However, under conditions the input array will get copied, e.g. wrong

[2020-07-07 14:00] RUrlus commented on #34
Sounds good, only strong preferences I have are:

- 4 space indent
- opening on same line, close on new line, e.g.
[code]

Indent within namespaces I am fine with either indent or no indent

[2020-07-07 18:45] hpwxf commented on #33
What do you think about the fix I proposed in #35 ?

[2020-07-07 18:49] hpwxf commented on #34
Ok, understood 👍

[2020-07-07 19:24] hpwxf commented on #34
I suggest this configuration:
[clang-format.txt](https://github.com/RUrlus/carma/files/4886759/clang-format.txt)

You can try it here: https://zed0.co.uk/clang-format-configurator/

[2020-07-07 21:18] RUrlus commented on #34
Only thing I don't like about the config is:
[code]

Preferring:

[code]

However this doesn't seem possible, the closest I got:

[code]

What are your thoughts?

config:
[code]

[2020-07-07 21:26] RUrlus commented on #33
Wouldn't an intermediate solution be to use a macro that sets delete when OS is not Windows? That way we can support windows albeit with a memory leak but don't interfere with performance on *NIX systems

[2020-07-08 14:22] hpwxf commented on #34
Except `ObjCBlockIndentWidth` which is for Objective-C code, I've updated clang-format following your config (cf #37).
(and I don't know how to do a style closer to your preferred style).

[2020-07-08 15:13] hpwxf commented on #33
Since I've planned to use carma in another project (portable on Linux/Mac/Windows), I prefer to solve this problem without any leak in any OS.

[2020-07-08 15:14] hpwxf commented on #33
Using clang sanitizer, the analysis seems to be easier
[code]
I got:
[code]
That means the related bunch of memory has been allocated using `malloc` not `new`.

[2020-07-08 16:14] hpwxf commented on #33
Using clang sanitizer, the analysis seems to be easier
[code]
I got:
[code]
That means the related bunch of memory has been allocated using `malloc` not `new`.

[2020-07-08 16:16] hpwxf commented on #33
Understood !

To deallocate a bunch of memory allocated by armadillo, you cannot assume what allocator it is. It depends on the implementation.
cf https://gitlab.com/conradsnicta/armadillo-code/-/blob/9.900.x/include/armadillo_bits/memory.hpp#L54 .
Thus, I will try to use `arma::memory::release` when `copy==false`.

[2020-07-09 19:26] RUrlus commented on #34
Thanks for the work, closed by #37

[2020-07-09 19:26] #34 closed

[2020-07-09 19:29] RUrlus commented on #33
Of course, I was thinking as a stop-gap solution.

[2020-07-09 19:48] RUrlus commented on #33
Good point, nooby mistake to assume delete was the appropriate way too free.

What do you think about letting armadillo handle the copy out as well. In that case we can always keep the armadillo matrix in the capsule and release the memory from armadillo?

In the case of a steal we can move the mat/row/col etc. This might also solve another issue where we can't reliable steal the memory from a Col

[2020-07-11 11:37] hpwxf opened #38 "CMake minimal requirement -> 3.7"
Using https://github.com/nlohmann/cmake_min_version, it appears that the minimal CMake requirement is CMake 3.9 (if we need `DESCRIPTION` field in main `PROJECT` command) or CMake 3.7 if we don't need that description field.

Using the minimal requirement could be useful to be accessible to more users.

PS: this has been tested with CMake config from #35 against all (84) versions of CMake (from 3.

[2020-07-11 18:37] RUrlus commented on #38
Let's move to 3.7, I don't particularly care about the description.

[2020-07-11 21:18] #33 closed

[2020-07-12 15:05] hpwxf commented on #28
Since #35 has been merged, Windows support is done.
We can close this issue.

[2020-07-12 15:19] #28 closed

[2020-07-13 14:31] #30 closed

[2020-07-13 22:09] #38 closed

[2020-07-14 14:15] RUrlus opened #44 "Incorporate speed-up-python-with-carma example"
Include the [full example](https://github.com/smrfeld/speed-up-python-with-carma) in the examples and/or docs.
@smrfeld thanks for agreeing it can be used

[2020-08-03 21:15] RUrlus opened #48 "Refactor of lifetime management Armadillo to Numpy conversion"
The current approach has significant drawbacks, for example not all armadillo objects can returned without copying, and is due an overhaul.

The new approach works by moving/copying to a heap allocated object the pointer to which is stored in the capsule.
This allows all dense armadillo types to be returned without copying and the class destructors can be used which improves robustness as well.

-

[2020-08-03 21:17] RUrlus commented on #48
A first draft of the new code has been written, 4004662665098978ef764945735db888200bbfa5. C++ tests have been written, the python tests are yet to be updated.

[2020-08-03 21:19] RUrlus commented on #31
Catch2 has been added as a submodule as the C++ testing framework.

I've started writing C++ tests for the conversion, a significant chunk of the armadillo to numpy code has tests, see 4004662665098978ef764945735db888200bbfa5. This story can be picked up after #48 has been closed.

[2020-08-05 11:36] hpwxf commented on #31
Very nice!

I will add `lcov` support in CMake and the travis-ci counterpart to commit results into https://coveralls.io.
It could be ok today or tomorrow.

[2020-08-05 12:26] RUrlus commented on #31
That would be great thanks, no rush though I need fix a few bugs that only show-up on linux and a memory leak in ArrayStore.

I noticed that the C++ tests are not being picked up by CTest on the [windows run](https://travis-ci.com/github/RUrlus/carma/jobs/368625059), any thoughts on why?

[2020-08-06 16:57] hpwxf commented on #31
I'm trying to understand what happens.

[2020-08-06 17:42] hpwxf opened #50 "Catch2 tests do not run in Windows environment"
I noticed that the C++ tests are not being picked up by CTest on the [windows run](https://travis-ci.com/github/RUrlus/carma/jobs/368625059), any thoughts on why?

_Originally posted by @RUrlus in https://github.com/RUrlus/carma/issues/31#issuecomment-669163541_

This issue is related to the comment. It will be better to discuss about it in a dedicated thread.

[2020-08-06 17:45] hpwxf commented on #50
I tried to add a few debug stuff and this is what I saw: https://travis-ci.com/github/hpwxf/carma/builds/178790117
[code]

I think that Catch2 cannot detect any tests in the `test_carma_native` binary since it cannot be run due to a missing lib (python37.dll).

[2020-08-06 18:23] hpwxf opened #52 "Mixed shell test styles"
In travis-ci shell script, there are two styles for tests:

* One bracket style
[code]
* Two brackets style
[code]

The first one is POSIX compliant and the second one is more flexible by *only* support by ks, bash and zsh.

**Should we define a reference style?**

Notes:
* https://stackoverflow.com/questions/669452/is-double-square-brackets-preferable-over-single-square-brackets-in-ba
* http://my

[2020-08-06 21:55] #31 closed

[2020-08-07 08:04] hpwxf opened #54 "Fix prefix path strip in coveralls.io"
As you can see in https://coveralls.io/builds/32593847/source?filename=/home/travis/build/RUrlus/carma/include/carma/carma/converters.h

Source code cannot be loaded in coveralls.io. It requires to configure a strip path in coveralls.io.
@RUrlus as you are the owner, you can do that by setting `/home/travis/build/RUrlus/carma` in the config box displayed following the previous link.

[2020-08-08 23:00] RUrlus commented on #54
Updated

[2020-08-18 14:21] hpwxf commented on #50
Should be close as #50 has been closed

[2020-08-18 14:21] #50 closed

[2020-08-18 14:24] hpwxf commented on #54
I just looked at https://coveralls.io/builds/32783486/source?filename=%2Fhome%2Ftravis%2Fbuild%2FRUrlus%2Fcarma%2Finclude%2Fcarma%2Fcarma%2Fconverters.h
and I saw:
<img width="1117" alt="Capture d’écran 6" src="https://user-images.githubusercontent.com/26146722/90525036-14837380-e16f-11ea-9df8-ab4f70a6da29.png">

@RUrlus Do you have the same error?

[2020-08-18 14:56] RUrlus commented on #54
Should be fixed now, safari was adding the exclusion path multiple times

[2020-08-18 14:56] #54 closed

[2020-08-18 21:08] RUrlus opened #56 "arr_to_cube C++ test only fails on Windows with C-contiguous input array"
Strangely, the sum check in the arr_to_cube C++ test only fails when:
* C-contiguous input array
* copy and strict are false
* on Windows

To make it stranger the equivalent Python & C++ test does not fail.

The array is aligned and the C-contiguous flag confirms order.
Only difference between this and the Python test is that in the latter the sample generated in python and passed to C++ whereas i

[2020-08-23 14:35] RUrlus opened #57 "MacOS build failing due to upstream issue in CMake-python-distributions"
The current build of the master branch is failing because of an upstream issue with the wheels for CMake on MacOS, [issue here](https://github.com/scikit-build/cmake-python-distributions/issues/112).

If not fixed soon, I will fix the cmake version in the travis config

[2020-08-23 20:24] RUrlus opened #58 "Include coverage report in SonarCloud analysis"
Current setup of Sonar analysis does not include the code coverage, it would be nice to have it included in the Sonar analysis as well.

[2020-08-23 22:12] RUrlus commented on #56
With no clear indication of a cause and the fact that the equivalent test from Python is passing I have disabled the specific test check on Windows for now.

I'll leave the issue open for now

[2020-08-25 22:31] RUrlus commented on #57
Closed by https://github.com/scikit-build/cmake-python-distributions/issues/112

[2020-08-25 22:31] #57 closed

[2020-08-29 15:58] N-Wouda opened #59 "Add support for sparse Armadillo matrices"
This is something I'm missing a bit: a way to convert `scipy.sparse`'s `csc_matrix` into an equivalent `arma::sp_mat` matrix. I plan to write a converter myself as I need this, but I can imagine it makes a nice addition to the project. If you want, I can open a PR for this soon.

[2020-08-30 07:44] RUrlus commented on #59
Definitely, would be happy to accept a PR for this.

I would prefer a separate header, e.g. `sparse_converters.h`, for the conversions as `converters.h` is already a bit longer/dense.

[2020-08-30 07:46] RUrlus commented on #48
This is hanging a bit on a memory leak in arraystore when stealing the memory and a lack of time on my side.

[2020-08-31 16:34] binoyp opened #60 "Build issue"
I am getting following cmake build out

[code]
Cmake setup is as follows
[code]
my lib directories contains blas libs required for armadillo

What's going wrong here?

[2020-09-01 07:50] N-Wouda commented on #59
Great! This is a side project for me, so development is a little slow. I expect to have something ready near the end of the month.

[2020-09-01 08:48] RUrlus commented on #59
No rush, it's the same for me. For the approach keep in mind that the `dev/0.4.0` branch is quite different from the current master. `converters.h` and `utils.h` are stable where only `arraystore.h` is subject to change from the current commit

[2020-09-01 10:59] RUrlus commented on #60
Have a look at the [examples/CMakeLists.txt](https://github.com/RUrlus/carma/blob/master/examples/CMakeLists.txt) for an example on how include CARMA using CMake. I am not entirely sure what is causing the errors but I think it's a linking issue with your example CMake.

[2020-09-03 21:06] kerim371 opened #61 "incorrect work of example (as I think)"
Hi,

Thank you for the library,

I'm on Windows 10 x64, Qt 5.14.2, MSVC 2017 x64
SeeI just took your example and changed one line of code (I add 1 to armadillo matrix) and I return this matrix. So the code is:

[code]

In PyCharm I do:

[code]

As you can see the output result is incorrect.
What is wrong?

[2020-09-03 21:15] KerimMatlab commented on #61
By the way if we want to simply output armadillo matrix without changes:
[code]
then we also get the wrong output

[2020-09-04 08:12] RUrlus commented on #61
Hi KerimMatlab,

I quickly ran your example against the current master branch and your example works correctly without `QtGlobal` on MacOS. I'll add a test using this specific style of addition so it can run on windows in the CI/CD pipeline this weekend.

For some reason the memory is being, incorrectly, freed in your case. Have you tried without Qt?
I am not familiar with Qt so it would help elim

[2020-09-04 10:44] KerimMatlab commented on #61
Hi @RUrlus,

I include `QtGlobal` because it enables to run macros that creates my `.dll`. I think it would be difficult to turn off it (I do not have much experience on programming and CMake).

I tried the `dev/0.4.0` branch and the result the same.

There is some important note. Lets suppose that we want to pass numpy array to C++, convert it to Armadillo and then convert back it to numpy. Then

[2020-09-04 10:51] KerimMatlab commented on #61
@RUrlus I just figured out that Armadillo matrix is fine. Here is the piece of C++ code:
[code]
Now python prints armadillo matrix and we have exactly tha same numbers in Armadillo:
[code]

Thus I think that something is wrong with `carma::mat_to_arr(mat);`

[2020-09-04 11:53] RUrlus commented on #61
@KerimMatlab, something to consider although not the cause of the issue is that you are making a copy unless you set the compile time definition.
Numpy by default create row-major, also called C-contiguous, arrays whereas Armadillo expects column-major (Fortran contiguous) memory.

Could you run the tests on your machine? You can do so with:

1. install pytest: `pip3 install pytest` or `conda inst

[2020-09-04 12:11] KerimMatlab commented on #61
@RUrlus I'm very beginner at Python (I have not used pytests before) and not good in command line operations.
Please help me a little bit more.

1. I successfully installed pytest via `conda install -c anaconda pytest`
2. I have problems now correct me if I'm wrong: I go to the `carma-0.3.0` directory, create there `_build` dir, go there and write `cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_INSTALL_PR

[2020-09-04 12:24] RUrlus commented on #61
Sorry I have very little experience outside *NIX OS's when it comes to Python and C++, nor do I have acces to a Windows machine. The best I can do is add some additional tests to our Windows test on travis.

You can also have a look here to see the commands used to build and test on the windows virtual machine: https://travis-ci.com/github/RUrlus/carma/jobs/379189384#L239

[2020-09-04 12:28] RUrlus commented on #61
@KerimMatlab It looks like you don't have the submodules; I should have added:
```git submodule update --init```

Can you run that and try again?

[2020-09-04 12:39] KerimMatlab commented on #61
I'm in PyCharm and I just wrote:
[code]
Then I write:
[code]
And I get the same error:
[code]

[2020-09-04 12:50] RUrlus commented on #61
OK, that's not correct. You shouldn't do the `git init`.
It should be:
- `git clone https://github.com/RUrlus/carma.git`
- `cd carma`
- `git submodule update --init`
- `mkdir build`
- `cd build`
-
[code]
- ```cmake --build . --target INSTALL --config Debug```
- `pytest`

[2020-09-04 12:59] KerimMatlab commented on #61
@RUrlus worked like a magic 👍
On the las line: `pytest` I got error (on the picture):
![image](https://user-images.githubusercontent.com/43808863/92241881-a0afcd80-eec7-11ea-9a95-7c33f448c322.png)

[2020-09-04 13:05] RUrlus commented on #61
Hmm, that's not good. Which branch is this? Arraystore doesn't yet work properly on the dev branch.

Anyway, could you run the following two commands instead of `pytest`:
- `cd tests`
- `pytest test_arr_to_mat.py test_mat_to_arr.py`

[2020-09-04 13:10] KerimMatlab commented on #61
@RUrlus the version is not written in the folder but I think it is a master as I type `git clone https://github.com/RUrlus/carma.git` ?
From the image below you can see that I went in to the `tests` and ran `pytest test_arr_to_mat.py test_mat_to_arr.py`
![image](https://user-images.githubusercontent.com/43808863/92242814-0d779780-eec9-11ea-8fd8-c6c48cc52871.png)

[2020-09-04 13:31] KerimMatlab commented on #61
@RUrlus I'm sorry! the upper error on the picture is wrong!
I go to the `/build/tests` and run now:
`pytest test_arr_to_mat.py test_mat_to_arr.py`
The output:
![image](https://user-images.githubusercontent.com/43808863/92244819-19188d80-eecc-11ea-9677-a6ecf43b7276.png)

[2020-09-04 13:38] RUrlus commented on #61
Yeah, then it's master.

Strange that the tests pass for the conversions but your example is not working. So maybe Qt is playing a role here.

Although the whole ArrayStore failing is also weird. I'll have a look this weekend.

[2020-09-06 12:02] RUrlus commented on #60
@binoyp any luck with the example CMakeLists?

[2020-09-06 12:12] RUrlus opened #62 "Add pytest-leaks to CICD run"
[Pytest-leaks](https://pypi.org/project/pytest-leaks/) could be an interesting addition to valgrind as it tracks the reference counts as well. It does require a debug-build of python.

[2020-09-08 03:46] binoyp commented on #60
Thanks. Fixed it. It was a mistake in CMakeLists.txt

[2020-09-08 11:28] binoyp commented on #60
It is due to something else. I added carma, armadillo and pybind11 as git submodules. It worked in my personal computer.

But when i cloned in my office PC same error came. Environment variables are same. I have no clue what's is causing this?

[2020-09-09 02:32] binoyp commented on #60
Figured out the issue.

Macro `NAMESPACE_BEGIN` has been changed to `PYBIND11_NAMESPACE_BEGIN` and `NAMESPACE_END` to
`PYBIND11_NAMESPACE_END`

For details

https://github.com/pybind/pybind11/blob/37f845a1dc171d981149a53f01c13c6ba85e0f2e/include/pybind11/detail/common.h#L16

[2020-09-09 19:13] binoyp opened #63 "Error in converting large array using"
For the following code

[code]

Inputs : pts shape is (535,2)

[code]

Output

[code]

there are error in first element of first and second row.

There are no issues for smaller numpy arrays.

Compiler used is Visual Studio 2019

[2020-09-09 20:23] RUrlus commented on #60
Thanks for letting me know! Fixed in 9006c6cc0d41ed27c3ab0e23a2ef4b196e3ca8af
I'll leave the issue open till the branch is merged in, for now reverting to pybind11 2.4.3 is a quick fix

[2020-09-09 20:33] RUrlus commented on #63
Thanks for the report, I tried reproducing locally, MacOS, just now but can't reproduce. I'll add bigger samples to the test run later this week.

In the mean time could you try and run the tests by adding`-DBUILD_TESTS=true` and running `pytest` in the build directory?
If you could increase the sample size in tests/arr_to_mat for the functions:
`test_arr_to_mat_double` and `test_arr_to_mat_double

[2020-09-10 07:16] #60 closed

[2020-09-11 21:35] mizkulg opened #65 "How to install carma"
I went through the steps here: https://carma.readthedocs.io/en/latest/basic_usage.html to build the system but the last step: To installation carma, you have to define `-DCMAKE_INSTALL_PREFIX=/installation/path/directory`
is not working. Could someone explain a bit more thoroughly what this step entails? I'm just getting:

`zsh: no such file or directory: -DCMAKE_INSTALL_PREFIX=/usr/local`

[2020-09-13 17:13] RUrlus commented on #65
I don't understand what you're doing. Can you provide a some details; what is your OS, how are you building it?

[2020-09-13 20:23] mizkulg commented on #65
I'm just trying to install carma. I'm using Linux (Debian) and am going through the **Build Systems** part of the docs.

[2020-09-14 07:36] RUrlus commented on #65
OK, so I think you are running `-DCMAKE_INSTALL_PREFIX=/usr/local` as an command. It's a definition you need to set to install Carma in the right location.

If you want to install it you run the below in the build directory:
```cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr/local .. && make install```

Perhaps [this example](https://github.com/smrfeld/speed-up-python-with-carma) will

[2020-09-14 07:36] #65 closed

[2020-09-22 10:02] mizkulg commented on #65
Thanks. I keep getting the error:

[code]

Conda 4.8.2
Python 3.7.3

Pybind11 runs fine on other codes that I have. But with carma the example code at examples/example.cpp gives me the error above. I am running:

`c++ -O3 -Wall -shared -std=c++14 -fPIC -larmadillo`python3.7 -m pybind11 --includes` carma.cpp -o example`python3.7-config --extension-suffix``

[2020-09-22 10:11] mizkulg opened #66 "Python.h file not found"
I keep getting the error:

[code]

Conda 4.8.2
Python 3.7.3

Pybind11 runs fine on other programs that I have. But with carma the example code at examples/example.cpp gives me the error above. I am running:
`c++ -O3 -Wall -shared -std=c++14 -fPIC -larmadillo python3 -m pybind11 --includes carma.cpp -o example python3-config --extension-suffix`

I've tried all the recommendations on stackoverflow b

[2020-09-22 10:13] RUrlus commented on #66
OK, surprising that you don't have this issue with other pybind11 builds. Are you on the same version of Pybind for those as well?
My initial thought would be that you're calling the Conda python and not the python3-dev through `apt`.

We don't do anything with Python.h so I am not entirely sure how this could be due to something we are doing.

Have you tried building the examples with CMake?
[cod

[2020-09-22 10:46] mizkulg commented on #66
Yea same conda environment and nearly same commands as the one above (c++ -03...). I didn't find anything on the conda being a problem with python3-dev. Since other pybind11 builds, I'm not sure if that would be the problem.

I just tried the CMake and I get the following error:

[code]

[2020-09-22 13:15] RUrlus commented on #66
Can you run `git submodule update --init` in the Carma repo? You're missing the submodules

[2020-09-22 13:48] mizkulg commented on #66
Ok just did and ran the above command again and am getting:
[code]

[2020-09-22 13:51] RUrlus commented on #66
Go to the root of the Carma repo and execute line by line:
[code]

[2020-09-22 13:55] mizkulg commented on #66
Here are the results:
[code]

[2020-09-22 14:02] RUrlus commented on #66
[code]
you don't have the correct permissions for some reason for this directory.
can you run:
[code]

[2020-09-22 14:09] RUrlus commented on #66
Regardless of the above, the tests and examples compile. I am not sure what is happening with the manual compilation but I think it's a mismatch between the python version in conda and what is being picked up by pybind11.

Doesn't look like it's an issue with Carma.

BTW you're missing backticks:
[code]

[2020-09-22 14:16] mizkulg commented on #66
The results also failed:
[code]

[2020-09-22 14:17] mizkulg commented on #66
Yea I tried with backticks beforehand but I get the following error:

[code]

[2020-09-22 15:46] RUrlus commented on #66
Ah I see, there shouldn't be a space between example and the extension
[code]

[2020-09-22 15:47] RUrlus commented on #66
Regarding the test issue, can you run pytest in the build directory? I looks like the tests are not running at all rather than some tests failing

[2020-09-22 17:09] mizkulg commented on #66
Wow ok that space was the problem. Could you update the code on this page https://carma.readthedocs.io/en/latest/basic_usage.html so no one else makes this error? Thanks for spotting the error.

Pytest:

[code]

[2020-09-22 17:13] RUrlus commented on #66
Yep, sorry for not spotting it earlier.

The mistake is corrected, closed by cdc53ebce7ffc04aab92667f59616b125480362d

[2020-09-22 17:13] #66 closed

[2020-10-01 15:09] Dniskk opened #67 "Segfault when accessing large converted matrix"
I use the following code to generate a matrix:

    import numpy as np
    from numpy.random import multivariate_normal

    mean = [0] * 5000
    sigma = np.eye(5000, 5000)
    X = multivariate_normal(mean=mean, cov=sigma, size=5000)

Unfortunately, the following function throws a segfault:

    void padmWrapper(py::array_t<double> &X, py::array_t<double> &y) {
        py::print(X);
        arma:

[2020-10-04 15:42] RUrlus commented on #67
Thanks for the report, I can reproduce locally as well with row-contiguous arrays.

The difference indeed being that C style arrays are copied.
It may be a reference count issue that only shows up because the larger memory is being recycled earlier than with small arrays. I am looking into it.

[2020-10-04 15:43] RUrlus commented on #63
Could be due to the same underlying cause as #67

[2020-10-04 15:44] RUrlus commented on #56
Potentially linked to #63

[2020-10-07 11:47] SanPen opened #69 "invalid conversion from ‘const arma::Mat<double>*’ to ‘arma::Mat<double>*’"
Hi,

I'm trying to use carma (cloned from master today), and I am getting all sorts of errors related to invalid conversions:

`invalid conversion from ‘const arma::Mat<double>*’ to ‘arma::Mat<double>*’`

In this case the function signature is:

`const arma::vec& getQmaxBus( ) const { //some stuff; }`

Not sure if it helps, but I have been using [this header](https://gitlab.com/sangrey/Arma_Wrappe

[2020-10-07 13:11] RUrlus commented on #69
We don't have an overload for const pointer, we have `const lvalue reference`, `lvalue reference` with copy parameter, `rvalue reference` and `pointer`

[2020-10-07 15:17] RUrlus commented on #69
I was wrong with regards to the above, those are the overloads on the dev branch. The master doesn't have `const` support at all, nor are you are you requesting a const pointer.

To get the desired behaviour you can copy out the vector for now or convert it and mark the array as non-writeable before returning

[2020-10-18 19:08] #69 closed, assigned to nobody

[2020-10-22 18:05] kerim371 commented on #61
@RUrlus Hi Ralph,

How do you think will this issue be solved? If you are busy that is fine :)

[2020-10-23 11:30] RUrlus commented on #61
@KerimMatlab Hi,

Sorry I've been very busy, new house & job at the same time.
I know the underlying cause of the bug but I don't have an easy solution. I have something in mind but it will take a while.

A work-around is to use Fortran contiguous arrays, `np.asarray(arr, order='F')` and pass that to C++

[2021-01-07 13:16] RUrlus commented on #56
Failure was caused by internal copy of C-contiguous arrays be destructed to early. Closed by 3a292df7d42212a5b9ff001ac9806aa93f5784d0

[2021-01-07 13:18] #56 closed

[2021-01-07 13:19] RUrlus commented on #67
Bug was caused by internal copy of C-contiguous arrays being destructed, solved in 3a292df7d42212a5b9ff001ac9806aa93f5784d0 for *NIX based systems.

[2021-01-07 13:40] RUrlus opened #71 "Windows only -- Access violation on copy of C-contiguous array"
The current RC, [branch dev/0.4.0](https://github.com/RUrlus/carma/tree/dev/0.4.0), triggers an access violation when copying a C-contiguous array, [see travis run](https://travis-ci.com/github/RUrlus/carma/jobs/469360662), on the Numpy to Armadillo conversion.

Control flows that do not hit the function [c_steal_copy_array](https://github.com/RUrlus/carma/blob/0e0abe673ca11951a749a9596c549f153d63

[2021-01-07 13:44] RUrlus commented on #48
Blocked by #71

[2021-01-12 14:26] hpwxf commented on #71
I succeed to reproduce this bug in a local windows VM.
I get:
[code]

Now, I will study what happens.

[2021-01-12 16:30] hpwxf commented on #71
Note for me.
I can reproduce the same error using Mingw with following cmake configuration:
[code]

[code]

NB: The exception code 0xc0000374 indicates a heap corruption

[2021-01-13 15:59] RUrlus commented on #71
Does this the Mingw reproduction indicate it's more related to the way the heap is managed on Windows than a compiler specific issue?

[2021-01-13 20:29] hpwxf commented on #71
Yes, I think so.

[2021-01-16 22:27] hpwxf commented on #71
Info about my analysis.

For sure, it could be a bug between "how the memory is allocated" and then "how to deallocate it".

I tried many things.
* I checked that the pointer arg of `arma::memory::release` is an heap pointer using `GetCurrentThreadStackLimits` ([doc](https://docs.microsoft.com/fr-fr/windows/win32/api/processthreadsapi/nf-processthreadsapi-getcurrentthreadstacklimits?redirectedfrom

[2021-01-17 09:54] hpwxf commented on #71
I manged to get a very small reproducer without carma and armadillo.

@RUrlus where did you find doc about the underlying function behind the following code ?
[code]

[2021-01-17 10:03] hpwxf commented on #71
Is it here ? `PyArray_Free`in https://numpy.org/doc/stable/reference/c-api/array.html
and about the magic number 165 ?

[2021-01-17 10:06] hpwxf commented on #71
Ok, it got it : `numpy/__multiarray_api.h`

[2021-01-17 10:38] RUrlus commented on #71
I followed Pybinds11 approach's in numpy.h

As far as I could see malloc is used by Numpy, Python and Armadillo. For armadillo at least if none of the other backends are used.

[2021-01-17 10:39] RUrlus commented on #71
I tried using Python's free rather than the aligned free but it doesn't change the outcome.

[2021-01-17 12:41] hpwxf commented on #71
I'm not sure but I think I got it (not yet a solution).
I dove in numpy and cpython source codes and I remembered that allocation / deallocation in Windows must be in the same _module_. In our case memory in allocated in a Python dll module and we try to deallocate it in main binary. Even, if we use the same allocator/deallocator couple (malloc/free, new/delete, _aligned_malloc, _aligned_free...)

[2021-01-17 12:56] hpwxf commented on #71
I just tested in my tiny reproducer to use `PyArray_free` (not `PyArray_Free`) and it seems to be good.

PS: This is not suitable to use it inside armadillo this should support my hypothesis.
* `PyArray_free`  (numpy)
  * is a _define_ of `PyMem_RawFree`  (numpy)
    * is a redirection to _PyMem_RawFree  (cpython)
      * is a trivial `static void _PyMem_RawFree(void *ctx, void *ptr) { free(ptr);

[2021-01-17 17:54] hpwxf commented on #71
My reproducer:
[code]

[2021-01-17 21:47] hpwxf commented on #71
I tried a "not perfect fix" in branch https://github.com/hpwxf/carma/tree/dev/0.4.0, it seems to be better cf https://travis-ci.com/github/hpwxf/carma/jobs/472516980 .

There remains only one failed case : "Test arr_to_cube" ("Test arr_to_mat" is solved).

[2021-01-18 17:16] RUrlus commented on #71
@hpwxf Thanks for all the work and finding the issue! I was not aware of the (de-)allocation requirement for Windows.

A clean fix could be to use the Numpy (de-)allocator inside armadillo, considering it's calling malloc anyway and I believe it will always yield aligned blocks of memory. I'll try tonight.

If it works we could ask the Armadillo devs wether they would be willing to include a compi

[2021-01-18 18:08] hpwxf commented on #71
Armadillo uses a statically defined deallocator. Even if you can convince armadillo to add `PyArray_free`, it cannot manage with the same code, data coming from Python and from C++ code (`PyArray_free` cannot deallocate data allocated by C++ world). If armadillo should change, the best idea seems to be to add a reference to a deallocator functor (but this will break the API).

For carma, my "not p

[2021-01-18 18:21] hpwxf commented on #71
NB: `PyArray_NewFromDescr_int ` seems to be the *ultimate* method to that cf: https://github.com/numpy/numpy/blob/2908338b19c26c043eab61c2af7bdff96b02b1bc/numpy/core/src/multiarray/ctors.c#L842

[2021-01-22 15:19] RUrlus commented on #71
I get what your solution, haven't had time to implement it yet. Downside will be that you can't steal the memory on Windows using this approach. You can still borrow it but you would need Armadillo to de-allocate with `PyArray_free` in order to steal. This in turn would mean that they would also have to allocate using Numpy's malloc as we can't feasible track which arma objects operate on stolen m

[2021-01-27 17:33] hpwxf commented on #71
I'm going to try to do it for fun.

[2021-01-28 21:55] hpwxf commented on #71
I know that my suggested solution is not perfect and an additional will be required in some cases in Windows OS.
Nevertheless, I have tried to code this idea but it is not yet functional and I have an issue that I don't understand (even if after reading numpy source code).

The following code sample runs well if `data` is null. However, if I allocate `data` before, at the end `data` pointer contai

[2021-01-28 22:38] RUrlus commented on #71
This is an issue related to going from C-order (row contiguous) to Fortran-order (column contiguous). `PyArray_CopyInto` is a straight memcpy it seems:

[code]

The only reference I could find was this old thread which wasn't very helpful.
Have you checked the strides and order of the returned array with respectively:
[code]
It could be we're seeing a mismatch between the order and strides.

[2021-01-28 22:47] RUrlus commented on #71
I think the issue is with the strides, based on the [latest commit in your branch strides is NULL](https://github.com/hpwxf/carma/blob/879736163fc66929b2fef0939b9f4cdb8e26f801/include/carma/carma/cnumpy.h#L94) which Numpy interprets as C-order. So the Numpy acts as the memory is row contiguous but the flag is set to FORTRAN order

[2021-01-29 08:03] hpwxf commented on #71
Ok; thank you; I will try something with your info.
NBs:
In my test case:
* input data (`src`) is `NPY_ARRAY_C_CONTIGUOUS`
* when `data` is null (and `strides` is null)
    * it creates internally a new `data` buffer (new address);  the result is perfect (right ordering) even if I use the same `PyArray_CopyInto`
    * the result is good only if `order` is `NPY_FORTRANORDER` or `NPY_KEEPORDER` (but

[2021-01-29 08:10] hpwxf commented on #71
NB: in numpy 1.9.x, my version of `PyArray_CopyInto` is
[code]
and `PyArray_AssignArray` is a quite long function without any `memcpy`.

[2021-01-29 08:16] hpwxf commented on #71
At least, I will do a standalone reproducer and submit it to numpy *specialists*.

[2021-01-29 13:16] RUrlus commented on #71
This is because on the conversion out we assume that we have Fortran order when setting strides.

So the only thing I can think of that if the data is already allocated and strides is null numpy assumes it C-order regardless of the flag set (e.g. NPY_FORTRANORDER)

[2021-01-29 13:34] RUrlus commented on #71
[code]

should eliminate stride issue with NULL

[2021-01-29 18:37] hpwxf commented on #71
Now, it is almost OK. Exactly as expected: no extra copy on with Windows.

[2021-01-29 18:54] hpwxf commented on #71
By the way, I found is another bug with Visual Studio (not gcc on Windows) in [this test (`Test arr_to_cube : F-contiguous; no copy; strict`)](https://github.com/RUrlus/carma/blob/0c4ea5f829c1b800eba032374ab3535891beff95/tests/src/test_arr_to_mat_native.cpp#L935)
To get [`CHECK(info.ptr == M.memptr())`](https://github.com/RUrlus/carma/blob/0c4ea5f829c1b800eba032374ab3535891beff95/tests/src/test_ar

[2021-01-29 19:14] hpwxf commented on #71
I have to clean the code and this issue will be solved.

[2021-01-29 21:36] hpwxf commented on #71
PR ready.

[2021-01-30 11:24] RUrlus commented on #71
Closed by #72

[2021-01-30 11:24] #71 closed, assigned to hpwxf

[2021-03-19 18:33] RUrlus commented on #67
Resolved in b1594476f5f136a9d3b2289123d94a51fc924692

[2021-03-19 18:34] RUrlus commented on #63
Resolved in b159447

[2021-03-19 18:34] #63 closed

[2021-03-19 18:34] RUrlus commented on #61
Resolved in b159447

[2021-03-19 18:34] #61 closed

[2021-03-19 18:35] #67 closed

[2021-03-19 18:36] RUrlus opened #73 "Update documentation to new API"

[2021-03-19 18:36] #48 closed

[2021-03-19 18:38] RUrlus opened #74 "Move CI/CD to Github Actions"
With limited build credits left on travis-ci a move to Github Actions is needed

[2021-03-19 18:39] RUrlus commented on #62
Blocked by #74

[2021-03-19 18:40] RUrlus commented on #52
Should be fixed in the move to #74

[2021-03-19 18:40] #52 closed

[2021-03-19 18:41] RUrlus commented on #58
blocked by #74

[2021-03-19 18:41] RUrlus commented on #44
This can replace the examples and should be made into a pip-installable package

[2021-04-06 06:33] RUrlus commented on #74
CI/CD has been moved to Github Actions, with a more complete test suite. Only SonarCloud remains at travis as they currently don't support it on Github Actions for C++

[2021-04-06 06:33] #74 closed, assigned to RUrlus

[2021-05-11 22:58] RUrlus commented on #58
SonorCloud doesn't support actions at time of writing. As Travis has been removed this can be closed

[2021-05-11 22:58] #58 closed

[2021-05-11 23:05] RUrlus commented on #62
Block has been resolved

[2021-06-08 09:23] RUrlus commented on #73
Closed by 373b5bc8cc6f21e44133a55cd20fb5695aa43f25

[2021-06-08 09:23] #73 closed, assigned to RUrlus

[2021-07-07 17:55] motiwari opened #78 "Carma versions not set in `include`"
Relevant code: https://github.com/RUrlus/carma/blob/7e4c54fcffedf319fb3f1f66eccb0a3d387400ea/include/carma#L39-L41

If including the `carma` libraries, these lines throw an error because these variables are only set via cmake: https://github.com/RUrlus/carma/blob/7e4c54fcffedf319fb3f1f66eccb0a3d387400ea/CMakeLists.txt#L3-L5

The error is the standard `use of undefined identifier CARMA_VERSION_MAJO

[2021-07-08 07:31] RUrlus commented on #78
Hi @motiwari, you're right it wasn't being set unless you installed the headers using CMake or used the CMake target.
Release v0.5.1 (02a2859c19c9735872475c1ef719dea37a9ecfe2) contains a fix for this.

Note, if you are not building through CMake you have to include `carma` before `armadillo`. When using the CMake build you don't have this issue.

[2021-07-08 07:31] #78 closed, assigned to nobody

[2021-07-19 01:41] peekxc opened #79 "Installation issues"
While compiling carma from source and installing into my system library works fine, upon trying to include the interface target in a header file I receive this error:
[code]

Upon inspection, the interface target file `carma` looks like:

[code]
Shouldn't the include with `cnalloc.hpp` use the relative-path include pattern, like the headers at the bottom? Or is this a build configuration problem?

[2021-07-19 02:56] conradsnicta commented on #79
@RUrlus This indeed does look like it should be `#include "carma_bits/cnalloc.hpp"` instead of `#include <cnalloc.hpp>`

Appears to have been introduced with commit https://github.com/RUrlus/carma/commit/62ac5ffb6c1637b7861570d0495b17ba061a3ccc

[2021-07-19 07:40] RUrlus commented on #79
@peekxc Thanks for reporting. You and @conradsnicta are right, I guess this slipped through CI/CD as I never test an installed version.

[2021-07-19 09:17] RUrlus commented on #79
@peekxc Fixed in release 9ebd5f4832f196032aa73dbf14908d9224e5a4ee. @conradsnicta Thanks for the quick PR

[2021-07-19 09:17] #79 closed, assigned to nobody

[2021-07-31 17:34] peekxc opened #81 "Question about library installation + finding carma"
On one hand, like arma and pybind11, CARMA is (mostly) header-only. On the other hand, CARMA isn't completely header-only. Compiling any source file after adding the `include` directory relative to some submodule-or-cloned version of CARMA results in a message like:

```...failed to find header file config.h```

This isn't surprising, as the file named `config.h.in` contains cmake-specific install

[2021-08-03 08:59] RUrlus commented on #81
Hi @peekxc,

Yes CARMA is currently tied to CMake, however, you could install it your system library using CMake, which will create a default `config.h`, and then use your preferred build system:

[code]

A downside of this approach is that you will need to make sure that CARMA is always included before Armadillo.
There is no easy way around this, `ARMA_ALIEN_MEM_*` need to be set before including

[2021-08-03 09:03] RUrlus opened #82 "Make CMake `find_package` compatible"
Current CMake does not install the required config files for users to be able to use CMake's `find_pacakge`.
Related to #81

[2021-08-03 23:45] RUrlus commented on #81
@peekxc I had a look today and I see some ways to improve usability.
I included a default `config.h` so it header-only independent of CMake.

I am working on a better CMake installation and targets, provide it as a pip package like Pybind11.
I am not familiar with pkgconfig but if it's not too much work I'll include that as well.

[2021-08-04 13:38] peekxc commented on #81
Hi @RUrlus. Thanks for looking into this. A pip-installeable version would definitely be ideal, if possible.

That being said, I actually had not heard of ci-buildwheels and did not consider the use of CI's to automate package (wheel) building and distribution. Thanks for the tip!

[2021-08-11 17:54] kjohnsen opened #83 "Automatic conversion doesn't work for function references with const& return type"
It seems the succinct syntax of simply passing in a reference to the function to be wrapped (see 1 and 2 below) doesn't work for const return types (2). Thankfully it works when using a lambda function without the return type specified (3). Is there a design reason or obstacle to making automatic conversion work for the 2 as in the case of 1?

Here is a minimum example:
[code]

Errors for 2:
[code

[2021-08-12 21:08] RUrlus commented on #83
Hi @kjohnsen, thanks for reporting the issue and the MRE.

I know where the issue sits and have a fix in mind.
However, I am not sure going the `const` route is the best option.

Have you seen the [ArrayStore](https://carma.readthedocs.io/en/latest/carma.html#arraystore) class? It does what the MRE example does but rather than copy out each call it provides a read-only view. It might be the better

[2021-08-12 21:12] motiwari opened #84 "Remove unused variables"
Hi, thanks for making this code. We are using it in https://github.com/ThrunGroup/BanditPAM.

When compiling the code we get the following warnings:

[code]

[2021-08-13 19:57] kjohnsen commented on #83
Thanks for the quick response @RUrlus.

About the ArrayStore, correct me if I'm wrong, but it seems to me like it's most useful for when you are developing the C++ code mainly to be used in Python. Unlike the MRE, what I'm doing is actually creating bindings for an existing C++ codebase which I'm trying to alter as little as possible. Could ArrayStore still be useful in this scenario? If I underst

[2021-08-16 15:01] RUrlus commented on #83
Fixed by 297878d19ab5d8be96439ffee570b1e606eb4a05.
I'll merge into stable and create a release later today.

@kjohnsen I added a new function that separates out what the ArrayStore does on the return `to_numpy_view` returns a non-writeable array without copying, which a `const` return does. You could wrap the class bindings in this function, e.g. for the MRE:
[code]

[2021-08-16 15:02] RUrlus commented on #84
@motiwari Thanks for reporting, Clangd doesn't seem to want to catch these for some reason.
Fixed in 2cced75d8260927262436011f7aeac5cee98d95f.

I'll create a new release later today which will include this

[2021-08-16 15:09] kjohnsen commented on #83
This looks great! I will definitely be using the new automatic const& copy and/or the `to_numpy_view()` as soon as they're ready.

[2021-08-16 16:23] kjohnsen opened #85 "Can't modify matrix as a side effect (but don't know if this is supposed to be possible)"
First, a clarifying question: is it supposed to be possible to modify a matrix in-place (after borrowing from NumPy) and have those changes reflected in NumPy without returning, that is, as a function side effect? This is what I understood from the "Well behaved" section of the docs:

I'm not totally sure though since the ["borrow" section of the "Design Patterns" section](https://carma.readthedoc

[2021-08-16 18:06] kjohnsen commented on #83
Out of curiosity, why does the automatic converter copy back instead of use the read-only numpy view?

[2021-08-16 18:13] RUrlus commented on #85
Yes you can modify in-place, at least with the manual conversion you always could. There was a bug in automatic conversion where an assignment triggered a copy rather than a move assignment even though it was an r-value. This is fixed in bfe43240d8e9388ee612262ca0376856278326ae.

What I mean in the documentation regarding the borrow and copying out is that you're not supposed to return the borrowe

[2021-08-16 18:20] RUrlus commented on #83
That's what Pybind11 does for `const` returns and I didn't want to deviate. It a common pattern as far as I know. A non `const` value is not copied out by default, even though Pybind11 does this. You can use `return_value_policy` to change this behaviour although I would strongly recommend to use the manual conversions as these are easier to use when you want to make sure when to copy and when not

[2021-08-16 18:22] kjohnsen commented on #85
Ok, now that I know this is supported I'll try to make an MRE

[2021-08-16 18:53] kjohnsen commented on #85
Ok, got some weird stuff--apparently the same thing on both stable and unstable branches.

Here's the binding code:
[code]

Here's what happened in a Python interpreter. Looks like identity matrices get mangled and others remain un-modified:
[code]

[2021-08-17 00:04] RUrlus commented on #85
Thanks for the MRE, I could reproduce. A bit surprised this slipped through considering the number of testing there is.
It's fixed in the unstable branch now.

If you're curious, for some reason I decided that we needed to copy if the array was smaller than Armadillo's pre-allocation limits whilst that only needs to happen when the is also stolen.
The garbage values in the first two examples happe

[2021-08-17 00:20] conradsnicta commented on #85
@RUrlus For safety reasons, perhaps the default operation should be copying data when going between Python and Armadillo.

Copying data is a relatively "cheap" operation, in contrast to operations such as matrix multiplication and SVD.  I suspect that in practice the overhead of copying would be minimal.  For folks that do want the extra speed, perhaps there should be an option to enable a "don't

[2021-08-23 14:00] #81 closed, assigned to nobody

[2021-08-23 14:00] #82 closed, assigned to RUrlus

[2021-08-23 14:00] #83 closed, assigned to RUrlus

[2021-08-23 14:00] #84 closed, assigned to RUrlus

[2021-08-23 14:00] #85 closed, assigned to RUrlus

[2021-08-23 14:11] RUrlus commented on #85
@conradsnicta You're right its relatively cheap but it prevents borrowing on the conversion in which is a quite common pattern. Perhaps the default on the way out should become to copy but it's quite a change.

For integration into MLPack I need to make some changes regarding the copy behaviour anyway so I might include a mode as you suggested.

[2021-09-16 16:34] peekxc commented on #59
For anyone who comes across this in the future---if one can guarantee csc format from scipy, then here's a quick a dirty solution in pybind11:

[code]

[2021-09-17 00:40] kjohnsen opened #89 "Help with Armadillo memory bug in pybind11"
Hello, even though this bug doesn't seem to be with Carma itself, I turn to you for help because I'm really stuck and I don't know if the pybind11 or Armadillo communities would be as much help in this.

[EDIT: it does appear to be a Carma bug and the MRE is working.](https://github.com/RUrlus/carma/issues/89#issuecomment-923178586)

I've been trying to boil it down to an [MRE and have been unsucc

[2021-09-17 00:41] kjohnsen commented on #89
[bug1.txt](https://github.com/RUrlus/carma/files/7181705/bug1.txt)
[bug2.txt](https://github.com/RUrlus/carma/files/7181706/bug2.txt)

Also posted as a StackOverflow question: https://stackoverflow.com/questions/69226084/why-might-i-get-heap-corruption-using-armadillo-matrices-with-pybind11

[2021-09-17 22:44] kjohnsen commented on #89
Never mind, this does have something to do with Carma! Something about the way Carma causes Armadillo to get configured leads to the crash. I will confirm by adding Carma to the MRE and reproducing the bug.

Still working on this, but it looks like the code fails because `arma_extra_code` is on (where it wasn't in the MRE). The culprit seems to be ARMA_ALIEN_MEM functions, set [here](https://githu

[2021-09-18 16:44] conradsnicta commented on #89
@kjohnsen The order of includes appears wrong.  This matters, as carma changes the configuration of Armadillo.  The carma header must be included before the armadillo header. Change the order to:

    #include <carma>
    #include <armadillo>
    #include <pybind11/numpy.h>
    #include <pybind11/pybind11.h>
    #include "mat_container.h"

[2021-09-20 18:35] kjohnsen commented on #89
Thank you for helping bring that to my attention. I didn't notice all the warnings about include order and about `cnalloc.h` when reading the docs.

I do think I've found a bug though, and my [MRE is now working](https://github.com/kjohnsen/carma-cnalloc-bug). Basically, even with the right include order, the crash occurs. I speculate that carma's memory functions are being used and failing even f

[2021-09-20 18:50] RUrlus commented on #89
@kjohnsen Sorry, I've been away on holiday so couldn't respond earlier.

Can you run with `cmake -DCARMA_DEV_DEBUG_MODE=ON` or define `CARMA_DEV_DEBUG` and post the above output again? This will trigger the debugging statements in `cnalloc.h` which will let us know whether the functions in `cnalloc.h` are being called.

How were you building before? Because the `carma` header checks if `armadillo`

[2021-09-20 19:08] kjohnsen commented on #89
I had already been using CARMA_EXTRA_DEBUG but I just tried with DEV_DEBUG_MODE too and I'm not seeing any evidence of the `cnalloc` functions being called. I'm not seeing any carma debug statements.

Before, I was simply linking to the `carma` target, not the `carma::headers` target, which I understand is intended to make things work regardless of the include order by pre-compiling `cnalloc.h`. N

[2021-09-20 19:20] kjohnsen commented on #89
🤔 Except for the fact that none of Carma's memory functions seem to be getting called...

Are you saying that normally it's necessary to include carma everywhere in the project? I'm trying to create bindings for a separate, standalone library. Would I need to include <carma> in all its source files?

[2021-09-20 21:11] RUrlus commented on #89
@kjohnsen I was right, the de-allocation is being done with the deallocation function from CARMA and the allocation is not.
The MRE was not working for me, a linking issue with armadillo and the mc target. The below works and is a bit cleaner approach.

[code]

Have a look at what happens when we don't link carma::carma to the `mc` target:

[log_not_linked.txt](https://github.com/RUrlus/carma/file

[2021-09-20 21:19] RUrlus commented on #89
@conradsnicta This is an issue for projects that link against an external library using armadillo but not linked with carma.

It appears that the allocation of the memory is handled by code from external library, i.e. without ARMA_ALIEN_MEM_ALLOC_FUNCTION set, but destructed using the code compiled with ARMA_ALIEN_MEM_FREE_FUNCTION from the lib that includes carma.

Any ideas how we could avoid th

[2021-09-20 21:38] RUrlus opened #91 "Potentially mismatched allocator-deallocator when linking to external shared library"
Found in #89, there is an issue with the free from `cnalloc.h` is used against a plain malloc used by armadillo when a library that includes carma is linked against a library that doesn't.

Say we have shared library A that uses Armadillo but does not use CARMA.
Library A has a function `foo` that creates a filled matrix and returns it, i.e. allocates memory for matrix using the default Armadillo

[2021-09-20 21:42] RUrlus commented on #89
@kjohnsen Let's close this issue if you don't mind, the title is not correct as this is a CARMA issue and not an Armadillo issue.
We can continue the discussion if needed in #91.

[2021-09-20 21:44] kjohnsen commented on #89
@RUrlus Ok, that is all working for me now. Many thanks! I don't know why I wasn't getting carma debug statements after using both CARMA_EXTRA_DEBUG and -DCMAKE_DEBUG_DEV_MODE=ON, but after using the compile definition CARMA_DEV_DEBUG like you did I'm seeing them now. This has been quite the debugging rabbit hole, but I'm glad to see the fix is so simple.

[2021-09-20 21:44] #89 closed, assigned to RUrlus

[2021-09-20 21:49] RUrlus commented on #89
@kjohnsen Good to hear, I can imagine it was quite the rabbit hole. A type of bug that is quite hard to find unless you very familiar with the internals of the library. Bad timing that I was away.

[2021-09-20 21:56] kjohnsen commented on #89
@RUrlus I probably should have asked for help sooner. I didn't even think it was a Carma problem at first and without an MRE I wasn't sure anyone would be able to help.

[2021-09-21 02:04] conradsnicta commented on #91
(quotation copied from https://github.com/RUrlus/carma/issues/89#issuecomment-923320672)

Perhaps one approach would be always copy data to/from numpy arrays, so that numpy memory is always managed by Python/numpy, and Armadillo related data is always managed by arma::memory::acquire() and arma::memory::release().

The above approach can be made the default. The "unsafe" approach (eg. stealing mem

[2021-09-21 10:35] RUrlus commented on #91
Thanks, I was hoping to avoid this but it seems like a safe and easier to use mode is needed where we make the current behaviour available to those that can use it

[2021-09-21 22:37] kjohnsen opened #92 "Exception handling broken when linking to carma for Windows+Clang"
I've got another bug for you! Thankfully it occurred to me this time to test whether carma could be responsible even though it didn't seem like it.

Whereas pybind11 is supposed to turn a C++ exception into a RuntimeError in Python, my program was crashing upon encountering `std::runtime_error`. Linking to carma turned out to make the difference, even though it isn't used at all, not even included

[2021-09-22 15:37] RUrlus commented on #92
Hi @kjohnsen, unfortunately I can't reproduce the issue with your MRE. I don't have access to a Windows machine so I created an action based on your [MRE](https://github.com/RUrlus/carma/tree/stable/mre) for all platforms, see [here](https://github.com/RUrlus/carma/actions/runs/1262326922). However, the test passes for both the stable and the unstable branch

[2021-09-22 16:47] kjohnsen commented on #92
@RUrlus I just cloned your MRE and found that the bug happens for Clang (11), but not for MSVC. I might have misled you by saying the compiler was "MSVC Clang" which I said because it was Clang as installed through Visual Studio, with the MSVC-like interface

[2021-09-22 17:39] RUrlus commented on #92
Same story for [Clang-12](https://github.com/RUrlus/carma/runs/3678315346?check_suite_focus=true#logs) on actions, can't replicate it unfortunately.

[2021-09-22 19:31] kjohnsen commented on #92
Okay, so I upgraded to Clang 12 on my local computer and the bug is still there for me, and again only on Clang. Any ideas?

[2021-09-22 19:40] kjohnsen opened #93 "Crash when assigning one matrix to another"
Believe it or not, I actually ran into another, separate heap corruption error when copy-assigning one matrix to another, e.g.,

`mre.cpp`:
[code]

`pymod_test.py`:
[code]

The matrices have to be large enough to use dynamically allocated memory.
And this bug has shown up for me on Windows with Clang 11/12 and MSVC, as well as WSL Ubuntu using GCC.

[2021-09-22 19:41] RUrlus commented on #92
Can you post a dump of the crash? I wouldn't know what carma could be doing when you link but don't include it, other than a standard issue. Carma targets are std14 minimum. What standard are you using?

[2021-09-22 19:57] kjohnsen commented on #92
A dump as in the arma/carma debug statements? I'll get those in a sec. Definitely C++14. I set it explicity in the CMakeLists.txt just now though just in case

[configure.txt](https://github.com/RUrlus/carma/files/7213406/configure.txt)

[2021-09-22 20:00] kjohnsen commented on #92
I have nothing else to share, really, other than the fact that it's the same `Windows fatal exception: code 0xc0000374`. No Armadillo or carma debug statements come up since neither is even included.

To be clear, I'm using the exact same MRE you used with GitHub actions, except now it specifies C++14 and adds the debug compile definitions. All I have to do is comment out `TARGET_LINK_LIBRARIES(py

[2021-09-22 21:36] RUrlus commented on #92
You don't get a crash report or stacktrace alongside the fatal exception? Because based on this I have no idea what could be causing this. You are the first to report this issue and I can't reproduce it in actions.

[2021-09-22 23:54] RUrlus commented on #93
@kjohnsen thanks for reporting. I could reproduce and it's a bug.
Fixed in 8adfd96a10ec8f16dd95741715b9f841280924c6.

However, you are not copying when doing this! What is happening is that the `mh1` borrows the memory of the matrix of `mh2`. Remember, we avoid copying as much as possible so the type-cast, which you implicitly use, borrows by default.

What you are doing with `mh1.A = mh2.A`:

1.

[2021-09-22 23:54] #93 closed, assigned to RUrlus

[2021-09-23 17:19] kjohnsen commented on #93
All right, thanks! I forgot borrowing was the default, which in hindsight was clear from the memory problems

[2021-09-23 20:01] kjohnsen commented on #92
I was going to send a screenshot of the debug thread stack (no stack trace is printed on crashing), but as I just tried compiling the MRE using the unstable branch (which has the fresh fix of the other bug), this bug is fixed! The error is raised to Python correctly.

Though it's fixed in the MRE, for some reason it's still in my codebase. I'll let you know if I can't get it ironed out.

[2021-09-23 20:01] #92 closed, assigned to RUrlus

[2021-09-29 00:05] kjohnsen commented on #92
Well, I can't get rid of it. It magically went away for a few minutes but came back next time I built. I'm baffled. I switched from Clang 12 to MSVC and this bug went away, but other memory bugs started popping back up. I appreciate all the help, but as much as I'd love to get everything working right on Windows, I think I'm just going to switch to Linux for this project.

[2021-11-16 17:43] motiwari opened #95 "is `cmake v3.16` necessary?"
In c991fb044718814adc67d52790012b60d45955d4, it looks like the required `cmake` was bumped to `3.16`.

Unfortunately, `cmake 3.16` is incompatible with our build process; we are using `carma` to build a linux wheels out of a python package to ship to PyPI. It is required to build on an old `manylinux` Docker image on which building `cmake 3.16` fails with the following error:

[code]

Is it possib

[2021-11-16 18:49] motiwari commented on #95
Update: I changed `3.16` to `3.12` in the [five instances](https://github.com/RUrlus/carma/search?q=3.16) and  everything seems ok when building our package for `python3.5` and `python3.6`, but segfaults on `3.7`, `3.8`, and `3.9`

[2021-11-28 14:23] RUrlus commented on #95
Hi @motiwari, sorry I couldn't get back to you earlier. We need 3.16 to find Numpy headers using functionality in CMake 3.16.
In general CMake should be easy to upgrade as it is pip installable.

How are you building wheels?

I have good experience with [cibuildwheel](https://cibuildwheel.readthedocs.io/en/stable/) which we use [here](https://github.com/KaveIO/PhiK/blob/master/.github/workflows/wh

[2021-11-28 15:30] motiwari commented on #95
Thanks @RUrlus -- let me try and get back to you

[2021-12-12 10:51] RUrlus commented on #95
@motiwari Any luck?

[2021-12-12 17:05] motiwari commented on #95
Hey @RUrlus thanks for the followup. Actually we decided for now not to build the wheels and ask users to build it directly themselves. We can close this issue for now -- I'll reopen if we decide to build the wheels again and run into any issues.

[2021-12-12 17:05] #95 closed, assigned to RUrlus

[2021-12-22 18:09] motiwari opened #96 "Repo does not pass flake8"
Hi, thanks again for making this repo.

Running the following command from the top-level directory of the repository:

`flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics`

returns a lot of bugs

[2021-12-22 18:52] motiwari commented on #96
Similarly for `cpplint`:

`cpplint --recursive .`

surfaces lots of style errors, the majority of which can be `codemod`ded away

[2021-12-28 18:34] motiwari opened #97 "Possible to call `arr_to_mat<float>`?"
Is it possible to convert a python numpy array to an Armadillo matrix of `float`s (not `double`s) using CARMA? I'm getting the error below.

I tried looking on the https://carma.readthedocs.io/en/latest/examples.html, but could not find any examples with `float`s, only with `double`s. Strangely it looks from [the docs](https://carma.readthedocs.io/en/latest/carma.html) that `arr_to_mat` is templat

[2021-12-28 18:57] motiwari commented on #97
Never mind, this was a bug in our code.

[2021-12-28 18:57] #97 closed, assigned to nobody

[2022-01-12 15:08] RUrlus commented on #96
Hi @motiwari, the C++ code is checked with cpplint and there is a clang-tidy target for formatting.
I don't agree with the code-style suggestions that `cpplint` gives on the files in the include directory with the exception of the copyright ones which I've changed.

Regarding Python the vast majority of issues are coming from external libraries when I run it. We only use Python in the tests, for w

[2022-01-12 15:08] #96 closed, assigned to nobody

[2022-01-12 20:35] motiwari commented on #95
Hi @RUrlus , thanks for the pointer above to `cibuildwheel`; we have been able to use it to successfully build wheels on Intel Mac and Linux.

Were you able to successfully get it to build wheels for M1 Macs? I've checked out your linked [wheels.yml](https://github.com/KaveIO/PhiK/blob/master/.github/workflows/wheels.yml) but can't find it there. I'm trying to build a wheel for our project on M1 M

[2022-01-12 22:06] RUrlus commented on #95
Hi @motiwari, no I haven't yet. Although I did happen to work on our CI/CD pipeline today and came across a this link on how to set it up for apple silicon. https://cibuildwheel.readthedocs.io/en/stable/faq/#apple-silicon

[2022-02-26 17:44] TNonet opened #101 "Undefined symbols during packaging"
Hi, I am packaging my first library using `carma` and `CMakeLists.txt`, and I am continually running into issues where certain LAPACK symbols are undefined.

The two most common issues are:

[code]

[code]

Currently, my build process (which seems successful after running `pip install .`) goes roughly as follows:

Using the setup.py file from `pybind`'s CMakeList example (https://github.com/pybind

[2022-03-01 09:46] RUrlus commented on #101
Hi @TNonet, CARMA provides a header only target of Armadillo that is linked against `carma::carma`, if the target `armadillo` or `armadillo::armadillo` doesn't exist when creating the `carma::carma` target. Otherwise we link against the existing target.

[code]
The above should allow the installed Armadillo lib being linked.
However, I think you are not linking against BLAS/LAPACK properly.

Armad

[2022-03-02 15:23] TNonet commented on #101
Hi @RUrlus, Thank you for such a fast response. With your guidance, I was able to solve this issue.

My new CMakeLists file is as follows:

[code]

I am still confused about how other Carma projects avoid this linking error as they do not seem to link to BLAS and LAPACK directly in this way.

For example, in one of Carma's examples (https://github.com/RUrlus/carma/blob/stable/examples/CMakeLists.t

[2022-03-02 16:05] RUrlus commented on #101
Hi @TNonet,

Happy to hear you got it working. Unfortunately this isn't the easiest thing to solve across platforms and it depends on how Armadillo is being pulled in.

Because BLAS/LAPACK are not strictly required when using, a subset of, Armadillo I consider linking to these libraries the responsibility of the downstream library, i.e. it is out of scope for CARMA to handle this as it would impos

[2022-03-04 13:54] TNonet commented on #101
Thanks for all the feedback/help, @RUrlus. I'll close the issue.

[2022-03-04 13:54] #101 closed, assigned to nobody

[2022-05-14 18:39] TNonet opened #103 "`cibuildwheel` manylinux build issue"
Hi,

I am a big fan of carma!

I am transitioning some of my cython bindings that based off https://github.com/andrewcron/cy_armadillo to carma/pybind11 bindings. However, I can't seem to get it to build on AppVeyor using `cibuildwheel`.

It seems that `carma`'s CMakeList is somewhat incompatible with `manylinux` which does not have python development libraries installed.
[code]

This is resulting

[2022-05-15 14:50] #103 closed, assigned to nobody

[2022-05-15 14:52] RUrlus commented on #103
Hi @TNonet, thanks!

The latest stable should fix the issue. Please let me know if it solves the issue, I'll create a patch release if it resolved.

[2022-05-15 16:38] TNonet commented on #103
Hi @RUrlus,

I am looking at it now! Thanks for such a fast response/resolve.

[2022-05-15 17:38] TNonet commented on #103
Hi @RUrlus,

That worked, thanks!

I am now getting an undefined issue symbol issue on AppVeyor. I don't believe this issue is related to the original issue, but I would love some assistance. Before using `carma`, I would link armadillo, lapack, and blas with a C++ extension below.

[code]

However, now I am just including `carma` as a subdirectory in CMakeList files, and I believe carma/armadillo

[2022-05-15 19:03] RUrlus commented on #103
Hi @TNonet,

carma links to the header only target of armadillo if none is provided. Hence, you need to link to BLAS/LAPACK yourself or use the CMake from Armadillo that is configured to link to BLAS/LAPACK.

If you haven't found it yet, I can highly recommend [scikit-build](https://scikit-build.readthedocs.io/en/latest/). I've used it for other python packages with Pybind11 extensions, e.g. https

[2022-05-15 19:17] TNonet commented on #103
Thanks for the direction! I will look into it!

[2022-05-17 14:22] TNonet commented on #103
Hi @RUrlus,

I have been looking into `scikit-build` and `diptest`, and I think I am making good headway!

If you are willing to continue to help, I am running into two issues. I don't want to overstay my welcome, but I would be happy to help write up some beginner documentation or have two of my packages that hopefully will use `carma` as extended examples. I would like to give back for all your

[2022-05-19 08:16] RUrlus commented on #103
Hi @TNonet, sure happy to help and having a package from you as an example would be great.

One thing that's not entirely clear to me is if you want to install Armadillo in the python package or not?
I.e. do you want to ship the lib with the Python extension or are you statically linking?

If you're statically linking you could set the `CMAKE_INSTALL_PREFIX` to somewhere locally, e.g. the `_skbuil

[2022-05-20 12:20] TNonet commented on #103
Hi @RUrlus, Thank you for such a fast response. I will be looking at this today and tomorrow!

Updated with Comments:

First, to simplify the initial stages, I will assume armadillo is installed ('brew install armadillo`, or similar"). I will hopefully relax this constraint later.

I adjusted my CMakeList file to account for this by removing my `armadillo-code` subdirectory and the related steps.

[2022-05-22 19:27] TNonet commented on #103
Hi @RUrlus,

I decided to take a step back and work on a more straightforward project. Therefore, I created an example project by merging your example https://github.com/RUrlus/carma/tree/stable/examples and pybind's https://github.com/pybind/scikit_build_example. This resulted in https://github.com/TNonet/carma-py-example.

An issue/inconsistency I have observed is that `carma` doesn't find pytho

[2022-05-22 19:39] RUrlus commented on #103
Hi @TNonet,

shit sorry. I just realised I forgot to change the finding of Python in the cmake targets when it is installed.
Just changed it in the unstable branch, will create a new patch release that should resolve it.

[2022-05-22 19:42] TNonet commented on #103
Hi @RUrlus,

No worries. Thanks for being so helpful and responsive!

[2022-05-22 20:11] TNonet opened #108 "`carma` changes install location based on installation status"
Hi @RUrlus,

As a follow-up to this comment, https://github.com/RUrlus/carma/issues/103#issuecomment-1133958194, I believe I have found other questions/issues that I wanted to raise.

I have observed when using `scikit build` and `carma` to install a C++ extension library, depending on if I have included `carma` as a subdirectory vs. have already installed `carma`, the installation location of the

[2022-05-23 19:37] RUrlus commented on #108
Hi @TNonet,

I think I found it, there was an unset `CMAKE_INSTALL_PREFIX` hiding in one of the CMake modules.
Can you try latest stable?

[2022-05-24 12:42] TNonet commented on #108
Hi @RUrlus,

That seems to have worked. I will close this issue.

Thanks

[2022-05-24 12:42] #108 closed, assigned to nobody

[2022-05-24 12:50] RUrlus commented on #108
Good, I completely forgot about clearing the cmake cache when I first read the issue. Happy it's found and solved

[2022-05-26 13:00] TNonet opened #109 "Segmentation Fault on Carma Example code"
Hi @RUrlus,

Something seems wrong with the manual conversion logic of the Carma Example code.

The code seems to work correctly for most Linux images but fails for cp36-manylinux_i686 CPython 3.6 manylinux i686

https://github.com/TNonet/carma-py-example/runs/6609546092?check_suite_focus=true.

[2022-05-27 12:48] TNonet commented on #109
I am seeing similar issues with my original project `L0Learn`. This code has been tested significantly so I suspect the issue is from `carma` as well.

https://github.com/TNonet/L0Learn/runs/6625390002?check_suite_focus=true

[2022-05-30 18:08] RUrlus commented on #109
Hi @TNonet,

I am going to need a bit more info to go on as the above links don't show the portion of the logs where an error is reported.
As Python 3.6 is well past end-of-life, which in combination with i686 being a known troublesome architecture doesn't make me super keen on making changes for this very specific case. If there is an issue for other archs that is a different case

[2022-06-01 12:34] TNonet commented on #109
Hi @RUrlus,

That is fair. I will close this for now and potentially reopen it later if I locate the issue.

[2022-06-01 12:34] #109 closed, assigned to nobody

[2022-07-23 13:24] TNonet commented on #103
Hi @RUrlus,

I wanted to follow up on my offer for example packages:

Over the next few months, the following packages should be released/updated to use `carma` and hopefully have attached publications:
1. L0Learn (https://github.com/hazimehh/L0Learn), which has been using RcppArmadillo for quite a while, will be updated with python bindings using `carma`.
2. gL0Learn (https://github.com/TNonet/gL

[2022-10-19 12:45] yaqwsx opened #112 "Carma seem to not support fixed size matrices"
Hi,
in our project, we use fixed-sized matrices (`arma::mat44`). However, it seems that these matrices are not supported by carma as we get the following compilation error:
[code]

The problematic part is in this function:
[code]

Are fixed-size matrices not supported, or are we using Carma incorrectly?

[2022-10-24 23:53] jiachangliu opened #114 "LICENSE Question"
Hello,

Thanks for writing this package. I have a question of what LICENSE I can put if I decide to use carma.

I have a package written in C++ with Armadillo. I want to keep the MIT license with my package. Is it possible to keep the MIT license if I just use carma as a python wrapper around my C++ package?

I google-searched this question but didn't see any satisfactory here. So I figure I might

[2022-10-26 01:26] conradsnicta commented on #114
If you require legal advice, it's better to speak with a qualified legal professional (lawyer) that represents your interests.

Unless otherwise stated, files in CARMA and Armadillo are licensed under the Apache 2.0 license.

The [tldrlegal.com](https://tldrlegal.com/) site provides useful summaries and implications of the licenses:
* https://tldrlegal.com/license/apache-license-2.0-(apache-2.0)
*

[2022-11-09 15:50] RUrlus commented on #112
closed by #113

[2022-11-09 15:50] #112 closed, assigned to nobody

[2022-11-09 15:51] RUrlus commented on #114
@jiachangliu I think @conradsnicta has already answered this question so I am closing.

[2022-11-09 15:51] #114 closed, assigned to nobody

[2022-11-18 17:15] dcajasn opened #115 "Is there a way to use carma from source?"
I'm working on new functions for my library [Riskfolio-Lib](https://github.com/dcajasn/Riskfolio-Lib) that are based on armadillo. My first attempt was to use [arma_numpy](https://github.com/LiamPattinson/arma_numpy), it works well on Mac and Linux but it failed on windows ☹️. Now I found your library that looks very friendly, however when I tried to reproduce the example using setuptools instead

[2022-11-21 09:32] RUrlus commented on #115
Hi @dcajasn, `__Z17bind_exampleclassRN8pybind117module_E` is not necessarily carma related. It's most likely an issue with the pybind11 binding code/setup not working correctly. Can you verify that?

If it's carma related we certainly need more information. Carma can certainly be used header only without cmake but you have to make sure that the include order is correct. carma needs to be included

[2022-11-26 22:47] dcajasn commented on #115
Thanks for your response @RUrlus, I've finally find a way to solve the problem on Mac and Windows, however now I have a new problem, when I try to multiply two matrixes on windows I have the following error:

My function is:

[code]
Do you have any idea why is this happening ?, when I multiply two sparse matrixes on windows I don't have this problem.

[2022-11-27 16:17] RUrlus commented on #115
This sounds like a linking issue with BLAS/LAPACK which is typically not used for sparse matrices. CARMA does not link to BLAS/LAPACK and Armadillo might depending on how you set it up.

A good place to start would be verifying whether BLAS is being linked properly on Windows